/*Custom Style*/
/*
$color1: #114b5f; //rgba(17, 75, 95, 100) darker
$color2: #1a936f; //rgba(26, 147, 111, 100)
$color3: #88d498; //rgba(136, 212, 152, 100)
$color4: #c6dabf; //rgba(198, 218, 191, 100)
$color5: #f3e9d2; //rgba(243, 233, 210, 100) whiter

https://coolors.co/app/114b5f-1a936f-88d498-c6dabf-f3e9d2
https://coolors.co/app/b2abf2-89043d-2fe6de-1c3041-18f2b2
https://coolors.co/app/1c3041-2fe6de-222930-4eb1ba-e9e9e9
*/

/*$color1: #b2abf2; //rgba(178, 171, 242, 100) // rose
$color2: #89043d; //rgba(137, 4, 61, 100) // rouge
$color3: #2fe6de; //rgba(47, 230, 222, 100) // bleu clair
$color4: #1c3041; //rgba(28, 48, 65, 100) //bleu  foncé
$color5: #18f2b2; //rgba(24, 242, 178, 100) // turquoise
*/
html{
	/*background-color:#333333;*/
	background-color:#1c3041;
	margin-right:-5px;
}

.up-down {
    overflow:hidden;
    height:40px;
    width:90px;
}
.slideBt {
    width:90px;
    height:40px;
}
.slideBt > span{
	top:6px;
}
.up-down:hover .default {
	height: 0;
	color: #1c3041;
}
.default {
	height: 40px:
	padding: 0px 0px;
	text-align: center;
	color: #2FE6DE;
	font-size: 24px;"
	margin:auto;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.45s;

}
.onhover {
	padding: 0px 0px;
	margin: auto;
    background-color:#1DB7CB;
    color: #1c3041;
    font-size: 12px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    bottom: 5px;

}

.navbar-default .navbar-nav > li > a {
 	font-size: 17px;
 	text-align: center;
padding: 0px  0px;

  }

.h1, h1{
	font-size: 4.5rem;
	color: #2FE6DE;
}
.def{
	font-size: 3rem;
	text-decoration: underline;
}
.navbar-right{
	padding-right: 15px;
}
.main{
	background-color:#1c3041;
	margin-top: 40px;
}

.bubles-title{
	margin-top: 20px;
	padding-left: 20px;
	font-size: 4.2rem;
	color: #2FE6DE;
	border-bottom: 3px solid #2FE6DE;
}

.titre h1{
	transform: translateX(-20%);
	color : #e9e9e9;
	font-weight: bold;
	font-size: 5rem;
	text-shadow: 0 0 15px rgba(0,0,0, 1);
	margin-bottom: 40px;
	
}
.titre p{
	
	transform: translateX(-20%);
	color :#e9e9e9;
	font-size: 24px;
	text-shadow: 0 0 15px rgba(0,0,0, 0.7);
	margin-bottom: 0;
}

.bubles{
	/*background-image: url(../images/cityopen.png);*/
	/*height: 840px;*/
	margin-top: 10px;
}
#acteurs_img {
	padding : 50px;
}
.boutons{
	/*margin-top: -300px;*/
}
.prezi{
	float:center;
	/*Ombrage*/

}
.footer a {
	color:#2FE6DE;;
}

.btn-primary{
	width: 100%;

}
.hider{
	width: auto;

}

.texte-ipsum{
	/*background-color:#18F2B2; */
	background-color:#e9e9e9;
	text-align: justify;
	font-size: 1.7rem;
    text-justify: inter-word;
	/*background-color:#88d498;*/
	padding: 50px;
	/*text-decoration-color: #18F2B2;*/
	-moz-box-shadow:    inset  0  20px 15px -15px #696868, 
                        inset  0 -20px 15px -15px #696868;
    -webkit-box-shadow: inset  0  20px 15px -15px #696868, 
                        inset  0 -20px 15px -15px #696868;
     box-shadow:        inset  0  20px 15px -15px #696868, 
                        inset  0 -20px 15px -15px #696868;
}
.main-content  { 
	/*padding-top: 70px; */
	background-color:#1c3041;
}
.container-fluid{
	background-color:#222930;
}
.navbar{
	min-height: 20px;
	margin-bottom: 0;
	border-width: 0 0 0px;	
	-moz-box-shadow:      0  20px 15px -15px #1F1F1F, 
                          0 20px 0px 0px #1F1F1F;
    -webkit-box-shadow:   0  0px 15px -15px #1F1F1F, 
                          0 0px 0px 0px #1F1F1F;
     box-shadow:          0  20px 15px -15px #1F1F1F, 
                          0 0px 0px 0px #1F1F1F;
}

.navbar-default .navbar-brand{
	color:#F23216;
	font-weight: normal;

}
.navbar-default:hover .navbar-brand:hover{
	color:#BF2712;
	//font-weight: bold;
}
.navbar-default .navbar-nav > li > a{
	color:#2FE6DE;
	background-color:transparent;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color: #333;
background-color: transparent;
}
.vignettes{
	margin-left : 10px;
	margin-right: 10px;
}

.BigTitleWhite{
	text-align: center;
	color:white;
}
.thumbnail{
	background-color:#F2F2F2;
}
.SpicyNodes{
	display: block;
    margin-left: auto;
    margin-right: auto ;
	margin-bottom: 80px;
}

*.caption{
	text-align:justify;
}
.carousel{
	margin-bottom: 10px;
	
}
.footer{
	background-color: #222930;
	color:#2FE6DE;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	margin-top: 2px;
}
.btn-default{
	height: 30px;
	padding-top: 5px;

}
.navbar-form .form-control{
	height: 30px;


}


